* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Open Sans';
     text-align: center;
 }

nav    {
    background-color: white;
    position: sticky;
    display: inline-block;
    width: 100%;
    height: 80px;
    top: 0px;
}

.nav-logo {
    display: inline-block;
    float: left;
    margin-left: 10%;
    height: 80px;
}

#logo {
    position: relative;
    top: 1.3rem;
}

.right-nav    {
    list-style: none;
    float: right;
    width: 60%;
}

.nav {
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

.tuitt-button {
    font-size: 1rem;
    padding: 15px 20px;
    border-radius: 25px ;
    border: none;
    background-color: #c2195b;
    color: white;
    font-weight: bold;
}

#bg-image {
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: scroll;
}

.front-bg {
    background: rgba(0, 0, 0, .5);
    min-height: 50vh;
}

.container {
    text-align: right;
    width: 700px;
    margin-left: 50%;
    height: 53vh;
}
.title {
    font-family: 'Zilla Slab', serif;
    color: white;
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.subtitle {
    color: white;
    padding-left: 11rem;
    font-size: 1.5rem;
    font-weight: normal;
    height: 20vh;
}

.apply-button {
    font-size: 1rem;
    padding: 10px 45px;
    border-radius: 25px ;
    border: none;
    background-color: #c2195b;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.title-2 {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.intro-description {
    padding-left: 22%;
    padding-right: 22%;
    text-align: justify;
    margin-bottom: 200px;
}

.pre-footer {
    height: 400px;
    background-color:  #f7fbfb;
}

.prefooter-description {
    padding-left: 22%;
    padding-right: 22%;
}

.book-button {
    font-size: 1rem;
    padding: 10px 45px;
    border-radius: 25px ;
    border: none;
    background-color: #336589;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

footer {
    display: inline-block;
    margin-bottom: 2rem;
    width: 50%;
}

span    {
    margin-left: 1rem;
    margin-right: 1rem;
}